#contents
	margin: 80px auto 20px auto
	padding: 20px
	max-width: 1000px
	border-radius: 5px
	background: #111111
	box-shadow: 0 10px 40px rgba(#000, .5)
	text-shadow: none

	#title
		text-transform: uppercase
		font-size: 38px
		font-weight: bold
		font-style: italic
		background-color: #550000
		color: black
		border-radius: 3px
		padding: 10px
		text-shadow: 0 1px 0 rgba(#000, 1)
		text-align: left

	#sidebar
		float: right
		width: 240px
		background-color: grey
		margin: 20px 0 20px 20px
		padding: 20px
		border-left: 1px solid #ccc
		font-size: 14px

		#username
			font-weight: bold
			background: rgba(#000, .5)
			border-radius: 3px
			color: #fff
			text-shadow: 0 1px 0 rgba(#000, .5)
			padding: 5px 0
			margin: 0 0 5px 0
			text-align: center
		#about
			text-align: center
			font-weight: bold
		#presentation
			border-top: 1px solid #ccc
			border-bottom: 1px solid #ccc
			margin: 20px 0
			li
				margin: 20px 0

		#copyright
			margin: 20px 0 0 0
			color: #888

	#argument
		color: red
		font-family: serif
		font-size: 14px
		margin: 20px 600px 20px 0px
		min-height: 80px
		text-align: left
		.cite
			font-weight: bold !important
		blockquote
			padding: 0 0 0 35px
			border-left: 3px solid #ccc
			margin: 10px 0 20px 0
		p
			font-weight: normal

	#hashtags
			margin: 20px 0
			clear: both
			li
				padding: 3px 10px
				background: rgba(#000, .5)
				border-radius: 3px
				display: inline-block
				margin: 0 10px 0 0
				color: #fff
				text-shadow: 0 1px 0 rgba(#000, 1)

	#reblogs
		color: #666
		li
			margin: 10px 0
			p.insult
				padding: 0 0 0 15px
				border-left: 3px solid #ccc
				margin: 10px 0
