@import url('http://fonts.googleapis.com/css?family=Parisienne')
#contents
	margin: 80px auto 20px auto
	padding: 20px
	max-width: 1000px
	border-radius: 5px
	text-shadow: none

	#title
		font-family: 'Parisienne'
		font-size: 50px
		font-weight: bold
		background: none
		color: magenta
		border-color: yellow
		border-width: 0px 0px 5px 0px
		border-style: solid
		line-height: normal
		padding: 0px
		text-shadow: 0 1px 0 rgba(#000, 1)
		text-align: center

	#sidebar
		float: left
		width: 240px
		background-color: rgba(169, 208, 245, 0.8)
		margin: 20px 0 20px 0px
		padding: 20px
		border-left: 1px solid #ccc
		font-size: 14px

		#username
			font-weight: bold
			background: rgba(#000, .5)
			border-radius: 3px
			color: #fff
			text-shadow: 0 1px 0 rgba(#000, .5)
			padding: 5px 0
			margin: 0 0 5px 0
			text-align: center
		#about
			text-align: center
			font-weight: bold
		#presentation
			border-top: 1px solid #ccc
			border-bottom: 1px solid #ccc
			margin: 20px 0
			li
				margin: 20px 0

		#copyright
			margin: 20px 0 0 0
			color: #888

	#argument
		background: rgba(255,255,255,0.75)
		border-radius: 3px
		padding: 3px
		color: rgb(104, 157, 3)
		font: 16px/1.5 Roboto Slab, sans-serif
		margin: 20px 0px 20px 320px
		min-height: 80px
		text-align: left
		.cite
			font-weight: bold !important
		blockquote
			padding: 0 0 0 35px
			border-left: 3px solid #ccc
			margin: 10px 0 20px 0
		p
			font-weight: normal

	#hashtags
			margin: 20px 0
			clear: both
			li
				padding: 3px 10px
				background: rgba(#000, .5)
				border-radius: 3px
				display: inline-block
				margin: 0 10px 0 0
				color: #fff
				text-shadow: 0 1px 0 rgba(#000, 1)

	#reblogs
		color: #666
		li
			margin: 10px 0
			p.insult
				padding: 0 0 0 15px
				border-left: 3px solid #ccc
				margin: 10px 0
